.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #0a51df;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.grid-btn{
  margin: auto;
  width: 50%;
  border: 3px solid rgb(150, 64, 204);
  padding: 10px;
}
button {
  text-align: center;
  background-color: rgb(44, 35, 35);
  width: 50%;
  border: 3px solid rgb(12, 243, 12);
  padding: 10px;

}

video {
  margin: auto;
  width: 100%;
  height: 100%;
  padding: 10px;

}
body{
  background-color: #4044007a;
}